.home{
  @apply relative;
  .home__bg {
    @apply w-full h-full absolute top-0 left-0 -z-30 bg-base-200;
  }
}
.home__hero {
  .home__figure {
    @apply absolute left-0 ~'-top-[100px] h-[635px]' w-full  -z-20 overflow-hidden;
    .home__image {
      @apply w-full object-left-bottom ~'h-[635px]';
    }
  }
  .home__content {
    @apply ~'h-[calc(47vw-150px)]' relative;

    .home__overlay {
      @apply absolute top-1/2 -translate-y-1/2 w-full left-0 bg-gradient-to-r from-base-content/80 py-5;
    }

    .home__container {
      @apply container px-3 md:px-0 mx-auto text-base-100;
    }

    .home__description {
      @apply text-base-100;
    }

    .home__title {
      @apply my-2;
    }

    .home__subtitle {
      @apply ml-10 ~'mb-[21px]';
    }

    .home__button {
      @apply flex-none bg-warning text-base-100 px-8 font-medium ~'py-[14.5px]' rounded-md ~'text-[18px]';
    }
  }
}

.home__services {
  .home__container {
    @apply container px-3 md:px-0 mx-auto pb-11 relative;
    .home__services-top{
      @apply relative;
      .top-height{
        @apply ~'h-[99px]';
      }
      .top-absolute{
        @apply absolute -top-4 left-0;
      }
    }
    .home__heading {
      @apply text-lg leading-6 text-warning font-medium font-sans top-3;
    }
    .home__main-title {
      @apply my-2 text-base-content ~'leading-[72px]' mt-0 ~'mb-[19px]';
    }
    .home__grid {
      @apply grid grid-cols-4 gap-10;
    }
  }
}


.home__journey {
  @apply w-full h-fit;
  .home__bg-container {
    @apply w-full h-full ~'bg-[url(assets/images/home/bg-2.png)]' flex items-center justify-center;
    .home__inner-container {
      @apply container w-full h-full py-12;
      .home__journey-title {
        @apply text-base-content;
      }
      .home__journey-description {
        @apply text-base-100 pt-6;
      }
      .home__list {
        @apply flex gap-5 mt-6 mx-auto w-fit;
        .home__list-item {
          @apply cursor-pointer transition-transform transform hover:scale-125 rounded;
        }
        .home__list-item-active {
          @apply text-base-content;
        }
      }
      .home__grid{
        @apply grid grid-cols-3 gap-6 mt-6;
      }
      .home__button-container {
        @apply w-full flex items-center justify-center mt-6;
        .home__button{
          @apply py-4 px-4 font-medium bg-white rounded-md mx-auto text-warning;
        }
      }
    }
  }
}

.home__parts{
  @apply bg-white;
  .home__container{
    @apply container py-6 w-full flex flex-col items-center justify-center gap-y-6 mx-auto;
    .home__parts-title{
      @apply  text-base-content;
    }
    .home__parts-description{
      @apply text-center;
    }
    .home__grid{
      @apply  grid grid-cols-3 gap-6 w-full;
    }
    .home__button{
      @apply  py-4 px-4 bg-white rounded-md mx-auto text-warning border border-warning;
    }
  }
}

.home__section.home__guide{
  @apply bg-base-100 ~'bg-[url(assets/images/home/bg-2.png)]';
  .home__container{
    @apply container w-full ~'h-[410px]' mx-auto flex;
    .home__guide{
      @apply ~'w-1/2' pr-14 py-12 flex flex-col gap-y-3;
      .home__guide-title{
        @apply text-base-content;
      }
      .home__guide-description{
        @apply text-base-100;
      }
      .home__button{
        @apply font-bold border border-white text-transparent overflow-hidden rounded-md py-3 relative;
        &:hover {
          span:first-child {
            @apply bottom-0;
          }
          span:last-child {
            @apply text-warning;
          }
        }
        span:first-child{
          @apply absolute left-0 bottom-full w-full h-full bg-white  transition-all duration-500 rounded-sm ease-in-out;
        }
        span:last-child{
          @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-base-100 ;
        }
      }
    }
  }
}

.home__news {
  .home__container {
    @apply container mx-auto flex flex-col items-center;
    .home__news-warning {
      @apply text-warning mt-8 uppercase;
    }
    .home__news-title {
      @apply uppercase text-base-content mb-6;
    }
    .home__grid {
      @apply grid grid-cols-3 gap-6 w-full;
    }
    .home__button {
      @apply py-4 px-4 bg-base-content text-base-100 rounded-md mx-auto mt-6 mb-12 w-40;
    }
  }
}