@import '../variables.less';

#banner {
  figure {
    @apply absolute left-0 top-0 -z-20 w-full;
    img {
      @apply w-full object-cover;
      height: 500px;
    }
  }
  .banner-contents {
    @apply relative overflow-hidden;
    height: 500px;
    .con-container {
      @apply absolute left-0 top-1/2 w-full -translate-y-1/2 bg-gradient-to-r from-base-content/80 py-5;
      .container-div {
        @apply container mx-auto px-3 text-base-100 md:px-0;
        p {
          // @apply;
        }
        h1 {
          @apply my-2;
        }
      }
    }
  }
}

#cate-list {
  .cate-item {
    @apply flex items-center justify-between border-b border-base-300 p-1;
    &__content {
      @apply flex items-center gap-x-3;
      img {
        // @apply;
      }
      .cate-item__name {
        @apply font-bold;
      }
    }
    &__arrow {
      // @apply;
    }
  }
}

#cate-container {
  .search {
    @apply relative pl-4 text-base-content;
    .search__indicator {
      @apply ~'h-[30px]' absolute left-0 top-0 w-1 bg-warning;
    }
    .search__title {
      // @apply;
    }
  }
  .search__spacer {
    @apply mb-2;
  }
  .search__form {
    @apply relative m-0 h-fit w-full rounded-none bg-transparent p-0 shadow-none;
    .search__button {
      @apply absolute right-2 top-1/2 -translate-y-1/2;
      img {
        // @apply;
      }
    }
    .search__input {
      @apply h-11 w-full rounded-md border border-base-content/50 py-1 pl-3 pr-7 outline-none;
    }
  }
  .search__spacer {
    @apply mb-6;
  }
  .price {
    @apply relative pl-4 text-base-content;
    .price__indicator {
      @apply ~'h-[30px]' absolute left-0 top-0 w-1 bg-warning;
    }
    .price__title {
      // @apply;
    }
  }
  .price__spacer {
    @apply mb-2;
  }
  .price__range {
    // @apply;
    .price__range-bar {
      @apply relative;
      .price__range-track {
        @apply h-1 w-full rounded-md bg-base-100;
      }
      .price__range-fill {
        @apply ~'w-[calc(100%-100px)]' absolute left-1/2 top-1/2 h-1 -translate-x-1/2 -translate-y-1/2 rounded-md bg-base-300;
      }
      .price__range-handle {
        @apply absolute top-1/2 size-3 -translate-y-1/2 rounded-full border-2 border-base-300 bg-base-100;
      }
      .price__range-handle--left {
        @apply !left-[50px];
      }
      .price__range-handle--right {
        @apply !right-[50px];
      }
    }
    .price__spacer {
      @apply mb-1;
    }
    .price__values {
      @apply flex items-center justify-between px-1;
      .textwarning {
        @apply text-warning;
      }
      .price__value {
        @apply flex gap-x-1;
        &--from {
          // @apply;
        }
        &--to {
          // @apply;
        }
      }
    }
  }
  .price__spacer {
    @apply mb-6;
  }
  .category {
    @apply relative pl-4 text-base-content;
    .category__indicator {
      @apply ~'h-[30px]' absolute left-0 top-0 w-1 bg-warning;
    }
    .category__title {
      // @apply;
    }
  }
  .category__spacer {
    @apply mb-3;
  }
  .category__list {
    @apply flex flex-col gap-y-1;
  }
}

.info-container {
  @apply container mx-auto flex flex-col gap-6 text-base-content;
  .info-container__description {
    @apply font-semibold;
  }
  .info-container__image {
    @apply ~'h-[365px]' w-full overflow-hidden rounded-xl;
    img {
      @apply h-full w-full object-cover;
    }
  }
}

#product-container {
  .product-list__header {
    @apply mb-3 flex items-center justify-between;
    .product-list__sort {
      @apply flex items-center gap-1;
    }
    .btn-find {
      @apply hidden rounded bg-warning px-2 py-1 text-base-100;
      @media (max-width: @media-md) {
        @apply block;
      }
    }
  }
  .product-list__container {
    @apply mb-3 grid grid-cols-3 gap-4;

    @media (max-width: @media-lg) {
      @apply grid-cols-2;
    }
  }
  .product-list__pagination {
    @apply mx-auto flex w-fit items-center gap-2 py-4;
    .product-list__pagination-item {
      @apply ~'size-[42px]' flex items-center justify-center rounded-full border border-base-300 bg-base-100;

      &:first-child {
        @apply rotate-180;
      }
    }
    .product-list__pagination-item--active {
      @apply bg-warning text-base-100;
    }
  }
}

#new-container {
  div {
    @apply flex w-full flex-col gap-6 rounded-xl bg-base-100 p-3 shadow-lg;
    figure {
      @apply ~'h-[252px]' w-full overflow-hidden rounded-xl;
      img {
        @apply h-full w-full object-cover;
      }
    }
    h6 {
      @apply text-base-content;
    }
    p {
      @apply text-base-content/60;
    }
    button {
      @apply ~'rounded-[5px]' ~'py-[14.5px]' w-fit bg-warning px-8 text-base-100;
    }
  }
}

.home__news-item {
  @apply ~'rounded-[10px]' flex w-full flex-col gap-y-6 bg-white p-3;
  .home__news-figure {
    @apply h-60 overflow-hidden;
    img {
      @apply h-full w-full object-cover;
    }
  }
  .home__news-title {
    @apply text-base-content;
  }
  .home__news-button {
    @apply w-full rounded-md border border-base-content py-3 font-bold text-base-content;
  }
}

.home__part-item {
  @apply ~'rounded-[10px]' border border-warning p-3;
  .home__part-name {
    @apply text-base-content;
  }
  .home__part-details {
    @apply relative;
    .home__part-text {
      @apply ~'w-[200px]' ~'gap-y-[7px]' absolute left-0 top-2 z-20 flex flex-col items-start;
    }
    .home__part-con {
      @apply ~'w-[200px] h-[129px]';
    }
    figure {
      @apply absolute bottom-0 right-0 z-10;
      img {
        @apply w-full object-left-bottom;
      }
    }
  }
  .home__part-button {
    @apply ~'rounded-[5px] py-[14.5px]' mt-6 w-full bg-warning text-base-100;
  }
}

#product-list {
  .product-item {
    @apply ~'h-[300px]' flex cursor-pointer flex-col gap-1 overflow-hidden rounded-xl bg-base-100 shadow-lg;
    figure {
      @apply ~'h-[168px]' w-full flex-none bg-base-300;
      img {
        @apply h-full w-full object-cover;
      }
    }
    div {
      @apply flex h-full flex-col items-center justify-between p-1;
      p {
        @apply font-semibold;
      }
      span {
        @apply py-1 font-medium text-warning;
      }
    }
  }
}

.home__product-item {
  // @apply flex flex-col gap-6 w-full;
  @apply w-1/3;
  .home__product-figure {
    img {
      @apply w-full object-left-bottom;
    }
  }
  .home__product-details {
    .home__product-name {
      @apply text-base-content;
    }
    .home__product-start {
      // @apply;
    }
    .home__product-info {
      @apply flex flex-col gap-1 text-base-100;
      div {
        @apply flex items-center justify-between;
      }
    }
  }
  .home__product-button {
    @apply relative mt-5 w-full overflow-hidden rounded-md border border-white py-3 font-bold text-transparent;
    &:hover {
      span:first-child {
        @apply bottom-0;
      }
      span:last-child {
        @apply text-warning;
      }
    }
    span:first-child {
      @apply absolute bottom-full left-0 h-full w-full rounded-sm bg-white transition-all duration-500 ease-in-out;
    }
    span:last-child {
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-base-100;
    }
  }
}

.home__service-article {
  @apply rounded-2xl bg-base-100 p-5 text-center shadow;
  .home__service-picture {
    @apply inline-block rounded-full bg-warning/10 p-5;
    svg {
      @apply fill-warning;
    }
  }
  .home__service-title {
    @apply py-2 font-semibold text-primary;
  }
  .home__service-description {
    @apply text-justify;
  }
}

#thumbnail-container {
  img {
    @apply my-auto aspect-square w-16 shrink-0 cursor-pointer self-stretch rounded-xl border border-base-content/50 object-contain;
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  display: none;
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

#footer {
  .footer__container {
    @apply relative overflow-hidden bg-base-content;
    .footer__content {
      @apply container relative z-10 mx-auto px-3 py-12 text-base-100 md:px-0;
      .footer__row {
        @apply flex justify-between gap-4;
        @media (max-width: @media-lg) {
          @apply flex-col gap-8;
        }
        .footer__info {
          max-width: 210px;
          @media (max-width: @media-lg) {
            max-width: 100%;
          }
          .footer__logo {
            .footer__logo-link {
              @apply cursor-pointer;
            }
          }
          .footer__description {
            @apply ~'text-[14px]' mt-6;
          }
        }
        .footer__nav {
          @apply grid w-full grid-cols-3 justify-between gap-4 px-4;
          @media (max-width: @media-lg) {
            @apply px-0;
          }
          @media (max-width: @media-md) {
            @apply grid-cols-1 gap-8;
          }
          .footer-category-list {
            .footer__nav-title {
              @apply -mt-2 font-semibold capitalize text-base-100;
            }
            .footer__nav-list {
              @apply flex flex-col gap-3 pt-5;
              .footer__nav-item {
                .footer__nav-link {
                  @apply font-medium leading-7 text-base-100 transition-all delay-100 duration-200 ease-linear;
                }
                .footer__nav-link:hover {
                  @apply text-base-100;
                }
              }
            }
          }
        }
        .footer__contact {
          max-width: 210px;
          @media (max-width: @media-lg) {
            max-width: 100%;
          }
          .footer__contact-title {
            @apply font-semibold capitalize text-base-100;
          }
          .footer__contact-content {
            @apply flex flex-col gap-3 pt-5;
            .footer__contact-address {
            }
            .footer__contact-list {
              @apply grid grid-cols-1 gap-3 text-warning;
              .footer__contact-item {
                @apply relative flex items-center !text-warning;
                .footer__contact-icon {
                  @apply w-8 text-2xl text-warning;
                }
                .footer__contact-link {
                  @apply m-0 text-base font-medium leading-7 !text-warning;
                }
              }
            }
            .footer__social {
              @apply flex flex-wrap gap-3;
              .footer__social-item {
                @apply relative;
                .footer__social-link {
                  @apply relative inline-block h-9 w-9 overflow-hidden rounded-full bg-warning pt-1 text-center text-base-100/60;
                  .footer__social-hover {
                    @apply absolute bottom-full left-0 -z-10 h-full w-full bg-warning transition-all duration-500 ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer__copyright {
      @apply ~'text-[10px]' container mx-auto pb-12 text-base-100;
    }
  }
}

#header {
  .header__top {
    @apply container mx-auto px-3 py-1 text-base-100 md:px-0;
    @media (max-width: @media-md) {
      @apply hidden;
    }

    .header__top-wrapper {
      @apply relative flex items-center justify-between gap-4 py-1;
      .header__top-bg {
        @apply ~'w-[200%]' absolute -right-8 top-0 -z-10 h-full rounded-full bg-primary/50;
      }
      .header__contact {
        @apply flex justify-between text-sm;
        width: 900px;
        @media (max-width: @media-lg) {
          @apply w-full;
        }
        .header__contact-item {
          @apply flex items-center;

          &:nth-of-type(1) {
            @apply whitespace-nowrap;
          }

          .header__contact-icon {
            @apply mr-3 fill-base-100;
          }
          .header__contact-link {
          }
        }
      }
      .header__social {
        @apply ~'text-[14px] leading-[18.67px]' flex justify-end gap-3;
        .header__social-item {
          @apply relative;
          .header__social-icon {
            @apply fill-base-100;
          }
          .header__social-dropdown {
            @apply absolute left-0 top-full z-10 hidden;
          }
        }
      }
    }
  }
  .header__main {
    @apply relative mx-auto w-10/12 px-3 md:px-0;

    @media (max-width: @media-md) {
      @apply mt-1;
    }
    .header__main-bg {
      @apply ~'w-[200%]' absolute -left-16 -z-10 h-full rounded-full bg-base-100;
    }
    .header__main-wrapper {
      @apply flex items-center justify-between py-3;

      @media (max-width: @media-lg) and (min-width: (@media-md - 1)) {
        @apply flex-col;
      }

      .header__logo {
        @apply flex-none;
      }
      .header__nav {
        @apply flex justify-around gap-10 text-lg text-base-content;

        @media (max-width: @media-md) {
          @apply hidden;
        }
      }
      .header__contact-btn {
        @apply flex-none rounded-md bg-warning px-5 py-2 font-medium text-base-100;
        @media (max-width: @media-lg) {
          @apply hidden;
        }
      }
    }
  }
}

#about-main {
  @apply bg-base-100 py-12;
}

.main-content {
  @apply bg-base-100 py-12;
}
