@import '../variables.less';

#banner {
  figure {
    @apply absolute left-0 top-0  w-full -z-20;
    img {
      @apply w-full object-cover;
      height: 500px;
    }
  }
  .banner-contents {
    @apply relative overflow-hidden;
    height: 500px;
    .con-container {
      @apply absolute top-1/2 -translate-y-1/2 w-full left-0 bg-gradient-to-r from-base-content/80 py-5;
      .container-div {
        @apply container px-3 md:px-0 mx-auto text-base-100;
        p {
          // @apply;
        }
        h1 {
          @apply my-2;
        }
      }
    }
  }
}

#cate-list {
  .cate-item {
    @apply flex items-center justify-between p-1 border-b border-base-300;
    &__content {
      @apply flex items-center gap-x-3;
      img {
        // @apply;
      }
      .cate-item__name {
        @apply font-bold;
      }
    }
    &__arrow {
      // @apply;
    }
  }
}

#cate-container {
  .search {
    @apply relative text-base-content pl-4;
    .search__indicator {
      @apply absolute w-1 bg-warning ~'h-[30px]' top-0 left-0;
    }
    .search__title {
      // @apply;
    }
  }
  .search__spacer {
    @apply mb-2;
  }
  .search__form {
    @apply relative rounded-none bg-transparent shadow-none w-full h-fit m-0 p-0;
    .search__button {
      @apply absolute top-1/2 -translate-y-1/2 right-2;
      img {
        // @apply;
      }
    }
    .search__input {
      @apply w-full h-11 rounded-md pl-3 pr-7 py-1 border border-base-content/50 outline-none;
    }
  }
  .search__spacer {
    @apply mb-6;
  }
  .price {
    @apply relative text-base-content pl-4;
    .price__indicator {
      @apply absolute w-1 bg-warning ~'h-[30px]' top-0 left-0;
    }
    .price__title {
      // @apply;
    }
  }
  .price__spacer {
    @apply mb-2;
  }
  .price__range {
    // @apply;
    .price__range-bar {
      @apply relative;
      .price__range-track {
        @apply w-full h-1 rounded-md bg-base-100;
      }
      .price__range-fill {
        @apply ~'w-[calc(100%-100px)]' h-1 rounded-md bg-base-300 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
      }
      .price__range-handle {
        @apply absolute size-3 rounded-full bg-base-100 top-1/2 -translate-y-1/2 border-2 border-base-300;
      }
      .price__range-handle--left {
        @apply !left-[50px];
      }
      .price__range-handle--right {
        @apply !right-[50px];
      }
    }
    .price__spacer {
      @apply mb-1;
    }
    .price__values {
      @apply flex items-center justify-between px-1;
      .textwarning {
        @apply text-warning;
      }
      .price__value {
        @apply flex gap-x-1;
        &--from {
          // @apply;
        }
        &--to {
          // @apply;
        }
      }
    }
  }
  .price__spacer {
    @apply mb-6;
  }
  .category {
    @apply relative text-base-content pl-4;
    .category__indicator {
      @apply absolute w-1 bg-warning ~'h-[30px]' top-0 left-0;
    }
    .category__title {
      // @apply;
    }
  }
  .category__spacer {
    @apply mb-3;
  }
  .category__list {
    @apply flex flex-col gap-y-1;
  }
}

.info-container {
  @apply container flex flex-col gap-6 mx-auto text-base-content;
  .info-container__description {
    @apply font-semibold;
  }
  .info-container__image {
    @apply w-full ~'h-[365px]' overflow-hidden rounded-xl;
    img {
      @apply w-full h-full object-cover;
    }
  }
}

#product-container {
  .product-list__header {
    @apply flex items-center justify-between mb-3;
    .product-list__sort {
      @apply flex items-center gap-1;
    }
  }
  .product-list__container {
    @apply grid grid-cols-3 gap-4 mb-3;

    @media (max-width: @media-lg) {
      @apply grid-cols-2;
    }
  }
  .product-list__pagination {
    @apply mx-auto w-fit py-4 flex items-center gap-2;
    .product-list__pagination-item {
      @apply ~'size-[42px]' flex items-center justify-center rounded-full border border-base-300 bg-base-100;
    }
    .product-list__pagination-item--active {
      @apply bg-warning text-base-100;
    }
    .product-list__pagination-item--prev {
      @apply rotate-180;
    }
  }
}

#new-container {
  div {
    @apply p-3 flex flex-col gap-6 w-full bg-base-100 rounded-xl shadow-lg;
    figure {
      @apply w-full ~'h-[252px]' rounded-xl overflow-hidden;
      img {
        @apply w-full h-full object-cover;
      }
    }
    h6 {
      @apply text-base-content;
    }
    p {
      @apply text-base-content/60;
    }
    button {
      @apply text-base-100 bg-warning ~'rounded-[5px]' w-fit px-8 ~'py-[14.5px]';
    }
  }
}

.home__news-item {
  @apply w-full p-3 flex flex-col gap-y-6 bg-white ~'rounded-[10px]';
  .home__news-figure {
    @apply h-60 overflow-hidden;
    img {
      @apply w-full object-cover h-full;
    }
  }
  .home__news-title {
    @apply text-base-content;
  }
  .home__news-button {
    @apply w-full font-bold border border-base-content text-base-content rounded-md py-3;
  }
}

.home__part-item {
  @apply p-3 border border-warning ~'rounded-[10px]';
  .home__part-name {
    @apply text-base-content;
  }
  .home__part-details {
    @apply relative;
    .home__part-text {
      @apply absolute top-2 left-0 z-20 ~'w-[200px]' flex flex-col items-start ~'gap-y-[7px]';
    }
    .home__part-con {
      @apply ~'w-[200px] h-[129px]';
    }
    figure {
      @apply absolute right-0 bottom-0 z-10;
      img {
        @apply w-full object-left-bottom;
      }
    }
  }
  .home__part-button {
    @apply text-base-100 bg-warning ~'rounded-[5px] w-full py-[14.5px]' mt-6;
  }
}

#product-list {
  .product-item {
    @apply bg-base-100 cursor-pointer shadow-lg ~'h-[300px]' rounded-xl overflow-hidden flex flex-col gap-1;
    figure {
      @apply w-full ~'h-[168px]' flex-none bg-base-300;
      img {
        @apply w-full h-full object-cover;
      }
    }
    div {
      @apply flex flex-col items-center justify-between h-full p-1;
      p {
        @apply font-semibold;
      }
      span {
        @apply py-1 text-warning font-medium;
      }
    }
  }
}

.home__product-item {
  // @apply flex flex-col gap-6 w-full;
  @apply w-1/3;
  .home__product-figure {
    img {
      @apply w-full object-left-bottom;
    }
  }
  .home__product-details {
    .home__product-name {
      @apply text-base-content;
    }
    .home__product-start {
      // @apply;
    }
    .home__product-info {
      @apply text-base-100 flex gap-1 flex-col;
      div {
        @apply flex items-center justify-between;
      }
    }
  }
  .home__product-button {
    @apply font-bold border border-white text-transparent overflow-hidden rounded-md py-3 relative w-full mt-5;
    &:hover {
      span:first-child {
        @apply bottom-0;
      }
      span:last-child {
        @apply text-warning;
      }
    }
    span:first-child {
      @apply absolute left-0 bottom-full w-full h-full bg-white  transition-all duration-500 rounded-sm ease-in-out;
    }
    span:last-child {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-base-100;
    }
  }
}

.home__service-article {
  @apply bg-base-100 p-5 text-center rounded-2xl shadow;
  .home__service-picture {
    @apply inline-block p-5 bg-warning/10 rounded-full;
    svg {
      @apply fill-warning;
    }
  }
  .home__service-title {
    @apply text-primary font-semibold py-2;
  }
  .home__service-description {
    @apply text-justify;
  }
}

#thumbnail-container {
  img {
    @apply object-contain shrink-0 self-stretch my-auto w-16 rounded-xl aspect-square border border-base-content/50 cursor-pointer;
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  display: none;
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

#footer {
  .footer__container {
    @apply relative bg-base-content overflow-hidden;
    .footer__content {
      @apply relative z-10 container px-3 md:px-0 mx-auto py-12 text-base-100;
      .footer__row {
        @apply flex gap-4 justify-between;
        @media (max-width: @media-lg) {
          @apply flex-col gap-8;
        }
        .footer__info {
          max-width: 210px;
          @media (max-width: @media-lg) {
            max-width: 100%;
          }
          .footer__logo {
            .footer__logo-link {
              @apply cursor-pointer;
            }
          }
          .footer__description {
            @apply mt-6 ~'text-[14px]';
          }
        }
        .footer__nav {
          @apply grid grid-cols-3 w-full gap-4 justify-between px-4;
          @media (max-width: @media-lg) {
            @apply px-0;
          }
          @media (max-width: @media-md) {
            @apply grid-cols-1 gap-8;
          }
          .footer-category-list {
            .footer__nav-title {
              @apply text-base-100 font-semibold capitalize -mt-2;
            }
            .footer__nav-list {
              @apply pt-5 flex flex-col gap-3;
              .footer__nav-item {
                .footer__nav-link {
                  @apply text-base-100 font-medium leading-7 transition-all duration-200 ease-linear delay-100;
                }
                .footer__nav-link:hover {
                  @apply text-base-100;
                }
              }
            }
          }
        }
        .footer__contact {
          max-width: 210px;
          @media (max-width: @media-lg) {
            max-width: 100%;
          }
          .footer__contact-title {
            @apply text-base-100 font-semibold capitalize;
          }
          .footer__contact-content {
            @apply pt-5 flex flex-col gap-3;
            .footer__contact-address {
            }
            .footer__contact-list {
              @apply grid grid-cols-1 gap-3 text-warning;
              .footer__contact-item {
                @apply relative flex items-center !text-warning;
                .footer__contact-icon {
                  @apply text-2xl w-8 text-warning;
                }
                .footer__contact-link {
                  @apply font-medium text-base !text-warning leading-7 m-0;
                }
              }
            }
            .footer__social {
              @apply flex flex-wrap gap-3;
              .footer__social-item {
                @apply relative;
                .footer__social-link {
                  @apply relative pt-1 inline-block w-9 h-9 rounded-full bg-warning text-center overflow-hidden text-base-100/60;
                  .footer__social-hover {
                    @apply absolute -z-10 left-0 bottom-full w-full h-full bg-warning transition-all duration-500 ease-in-out;
                  }
                  .footer__social-icon {
                    @apply text-xl text-base-content relative z-10;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer__copyright {
      @apply container mx-auto pb-12 text-base-100 ~'text-[10px]';
    }
  }
}

#header {
  .header__top {
    @apply container px-3 md:px-0 mx-auto py-1 text-base-100;
    @media (max-width: @media-md) {
      @apply hidden;
    }

    .header__top-wrapper {
      @apply flex justify-between items-center relative py-1 gap-4;
      .header__top-bg {
        @apply absolute ~'w-[200%]' h-full bg-primary/50 -z-10 -right-8 top-0 rounded-full;
      }
      .header__contact {
        @apply flex text-sm justify-between;
        width: 900px;
        @media (max-width: @media-lg) {
          @apply w-full;
        }
        .header__contact-item {
          @apply flex items-center;

          &:nth-of-type(1) {
            @apply whitespace-nowrap;
          }

          .header__contact-icon {
            @apply fill-base-100 mr-3;
          }
          .header__contact-link {
          }
        }
      }
      .header__social {
        @apply flex gap-3 justify-end ~'text-[14px] leading-[18.67px]';
        .header__social-item {
          @apply relative;
          .header__social-icon {
            @apply fill-base-100;
          }
          .header__social-dropdown {
            @apply absolute z-10 left-0 top-full hidden;
          }
        }
      }
    }
  }
  .header__main {
    @apply w-10/12 px-3 md:px-0 mx-auto relative;

    @media (max-width: @media-md) {
      @apply mt-1;
    }
    .header__main-bg {
      @apply absolute ~'w-[200%]' h-full bg-base-100 -z-10 -left-16 rounded-full;
    }
    .header__main-wrapper {
      @apply flex justify-between items-center py-3;

      @media (max-width: @media-lg) and (min-width: (@media-md - 1)) {
        @apply flex-col;
      }

      .header__logo {
        @apply flex-none;
      }
      .header__nav {
        @apply flex justify-around text-lg gap-10 text-base-content;

        @media (max-width: @media-md) {
          @apply hidden;
        }
      }
      .header__contact-btn {
        @apply flex-none bg-warning text-base-100 px-5 font-medium py-2 rounded-md;
        @media (max-width: @media-lg) {
          @apply hidden;
        }
      }
    }
  }
}

#about-main {
  @apply bg-base-100 py-12;
}

.main-content {
  @apply bg-base-100 py-12;
}
