@import "../variables.less";

.touring-tech {
  @apply container mx-auto overflow-auto;

  .mxauto {
    @apply mx-auto;
  }
  .checkbox-tbl {
    @apply ~'size-[18px]' mx-auto rounded border border-base-content/50;
  }
  .price-tbl {
    @apply bg-warning text-center text-base-100;
  }
  table {
    @apply w-full border-separate border-spacing-0 overflow-hidden;
  }
  th {
    @apply bg-warning font-semibold text-white;
  }
  th,
  td {
    @apply ~'border-[0.5px] h-[44px]' border-base-content/50 px-3;
  }

  thead {
    th {
      @apply border-t;
    }
  }
  tbody {
    tr:last-child td {
      @apply border-b;
    }
    tr:not(:last-child) {
      td:first-child {
        @apply border-l;
      }
      td:last-child {
        @apply border-r;
      }
    }
  }
  tr:first-child th:first-child {
    @apply rounded-tl-lg border-l;
  }
  tr:first-child th:last-child {
    @apply rounded-tr-lg border-r;
  }
  tr:last-child td:first-child {
    @apply rounded-bl-lg border-l;
  }
  tr:last-child td:last-child {
    @apply rounded-br-lg border-r;
  }

  tr:hover {
    @apply bg-base-200;
  }
}

.touring__section {
  @apply bg-base-200;
  .touring__container {
    @apply container mx-auto flex gap-6 py-12;
    .touring__category {
      @apply ~'w-[300px]';
    }
    .touring__products {
      @apply ~'w-[calc(100%-300px)]' text-base-content;
    }
  }
}

.touring-banner {
  // Add styles if needed
}

.touring-detail {
  @apply bg-base-100 py-12;
  &__header {
    @apply ~'h-[54px]' container relative mx-auto flex items-center justify-center;
  }
  &__divider {
    @apply w-full border-b border-base-300;
  }
  &__buttons {
    @apply absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 items-center gap-8 font-serif;
  }
  &__button {
    @apply rounded-xl px-6 py-3;
    &--active {
      @apply bg-warning text-base-100;
    }
    &--inactive {
      @apply border border-warning bg-base-100 text-warning;
    }
  }
}

.touring-description {
  h6 {
    @apply container mx-auto my-8 border-l-4 border-warning pl-3 text-base-content/60;
  }
}

.touring-info {
  // Add styles if needed
}

.touring-feature {
  @apply container mx-auto flex flex-col gap-6;
}

.feature__section {
  @apply mt-6;
}

.feature__grid {
  @apply grid w-full;

  @media (max-width: @media-md) {
    @apply block;
  }
  &--reverse {
    @apply ~'grid-cols-[51%,49%]';
  }
  &:not(&--reverse) {
    @apply ~'grid-cols-[49%,51%]';
  }
}

.feature__title {
  @apply uppercase text-base-content;
}

.feature__subtitle {
  @apply uppercase text-base-content/50;
}

.feature__list {
  @apply list-disc pl-5 text-base-100;
}
.feature__text {
  @apply text-base-100;
}

.feature__image {
  // Add styles if needed
}

.feature__img {
  @apply h-full w-full object-cover;
}

.feature__highlight {
  @apply text-base-content;
}

.feature__content {
  @apply ~"bg-[url('/assets/images/home/bg-2.png')]" flex flex-col gap-3 px-14 py-12;

  h1,
  h2,
  h3,
  h4 {
    @apply uppercase text-base-content;
  }

  h5 {
    @apply text-base uppercase text-base-content/50;
  }

  h6 {
    @apply text-base text-base-content;
  }

  ul {
    @apply list-disc pl-5 text-base-100;
  }

  p {
    @apply text-base-100;
  }
}
