@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.swal2 {
  &-html-container { @apply !m-6; }
  &-actions { @apply !mt-0 !mb-4; }
}

@layer utilities{
  .clip-polygon {
    clip-path: polygon(100% 0%, 94% 52%, 95% 100%, 0 100%, 0 0%);
  }
}

@font-face {
  font-family: 'icomoon';
  src: url('../assets/icomoon.eot?orkqwr');
  src: url('../assets/icomoon.eot?orkqwr#iefix') format('embedded-opentype'),
  url('../assets/icomoon.ttf?orkqwr') format('truetype'),
  url('../assets/icomoon.woff?orkqwr') format('woff'),
  url('../assets/icomoon.svg?orkqwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}








.icon-facebook-app-symbol:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-mail:before {
  content: "\e903";
}

.icon-mail-1:before {
  content: "\e904";
}

.icon-wall-clock:before {
  content: "\e905";
}

.icon-down-arrow:before {
  content: "\e906";
}

.icon-down-arrow-1:before {
  content: "\e907";
}

.icon-headphones:before {
  content: "\e908";
}

.icon-left-arrow:before {
  content: "\e909";
}

.icon-right-arrow:before {
  content: "\e90a";
}

.icon-helicopter:before {
  content: "\e90b";
}

.icon-check:before {
  content: "\e90c";
}

.icon-tick:before {
  content: "\e90d";
}

.icon-check-mark:before {
  content: "\e90e";
}

.icon-pointed-star:before {
  content: "\e90f";
}

.icon-star:before {
  content: "\e910";
}

.icon-pin:before {
  content: "\e911";
}

.icon-play:before {
  content: "\e912";
}

.icon-share:before {
  content: "\e913";
}

.icon-telephone:before {
  content: "\e914";
}

.icon-calendar:before {
  content: "\e915";
}

.icon-calendar-1:before {
  content: "\e916";
}

.icon-user:before {
  content: "\e917";
}

.icon-user-1:before {
  content: "\e918";
}

.icon-comment:before {
  content: "\e919";
}

.icon-search:before {
  content: "\e91a";
}

.icon-search-1:before {
  content: "\e91b";
}

.icon-left-arrow-1:before {
  content: "\e91c";
}

.icon-next:before {
  content: "\e91d";
}

.icon-play-1:before {
  content: "\e91e";
}

.icon-plus:before {
  content: "\e91f";
}

.icon-plus-1:before {
  content: "\e920";
}

.icon-flag:before {
  content: "\e921";
}

.icon-right-quotes-symbol:before {
  content: "\e922";
}

.icon-minus:before {
  content: "\e923";
}

.icon-minus-1:before {
  content: "\e924";
}

.icon-pdf:before {
  content: "\e925";
}

.icon-label:before {
  content: "\e926";
}

.icon-Group-1:before {
  content: "\e927";

}

.icon-Group-2:before {
  content: "\e928";

}

.icon-Group-3:before {
  content: "\e929";

}

.icon-Group-4:before {
  content: "\e92a";

}

.icon-Group-5:before {
  content: "\e92b";

}

.icon-Group-6:before {
  content: "\e92c";

}

.icon-Group-7:before {
  content: "\e92d";

}

.icon-Group-8:before {
  content: "\e92e";

}

.icon-Group-9:before {
  content: "\e92f";

}

.icon-Group-10:before {
  content: "\e930";

}

.icon-Group-11:before {
  content: "\e931";

}

.icon-Group-12:before {
  content: "\e932";

}

.icon-Group-13:before {
  content: "\e933";

}

.icon-Group-14:before {
  content: "\e934";
}

.icon-Group-15:before {
  content: "\e935";

}

.icon-Group-16:before {
  content: "\e936";

}

.icon-Group-17:before {
  content: "\e937";

}

.icon-Group-18:before {
  content: "\e938";

}

.icon-Group-19:before {
  content: "\e939";

}

.icon-Group-121:before {
  content: "\e93a";

}

.icon-Group:before {
  content: "\e93b";

}

.icon-Vector-1:before {
  content: "\e93c";

}

.icon-Vector:before {
  content: "\e93d";

}

form .group {
  &.error {
    label { @apply text-red-700; }
    > input,> textarea, > .choices > .choices__inner { @apply !bg-red-50 !border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500; }
    p.error { @apply text-red-600 text-sm; }
  }
  > .choices { @apply mb-2; }
}

.pretty {
  input:checked ~ .state ,
  &.p-toggle .state {
    label:after { @apply !bg-blue-500; }
    label:before { @apply border-blue-500; }
  }
  &.p-default:not(.p-fill) input:checked ~ .state label:after { @apply !bg-blue-500; }
  &.p-switch {
    input:checked ~ .state:before { @apply border-blue-500; }
    &.p-fill input:checked ~ .state:before { @apply !bg-blue-500; }
    &.p-slim input:checked ~ .state:before { @apply !bg-blue-600 border-blue-600; }
  }
}

.choices {
  &__inner { @apply !border-gray-200 !rounded-lg !bg-white; }
  &__list--multiple .choices__item { @apply !border-blue-600 !bg-blue-500; }
  &__input { @apply !bg-transparent; }
}

.html-render { @apply text-justify;
  .image { @apply inline-block text-center w-full py-5;
    .caption { @apply bg-teal-50 border border-teal-200 mt-1 py-1 px-2 inline-block; }
  }
  p { @apply mb-3; }
  img { @apply mx-auto; }
  h1 { @apply text-5xl text-teal-900 mb-7; }
  h2 { @apply text-4xl text-teal-900 mb-6; }
  h3 { @apply text-3xl text-teal-900 mb-5; }
  h4 { @apply text-2xl text-teal-900 mb-4; }
  h5 { @apply text-xl text-teal-900 mb-4; }
  h6 { @apply text-lg text-teal-900 mb-4; }
}



.hamburger { @apply flex self-center flex-col justify-between w-6 h-6 cursor-pointer pt-1 pb-1;
  span { @apply self-end w-full bg-white transition-all duration-300 ease-in-out ~'h-0.5'; }
  .meat { @apply ~'w-10/12' transition-all duration-150 ease-in-out; }
  .bottom-bun { @apply ~'w-7/12'; }
  &:hover span { @apply w-full; }
  &.body-menu-opened {
    .top-bun { @apply w-full -rotate-45 ~'translate-y-[0.42rem]'; }
    .bottom-bun { @apply w-full rotate-45 ~'-translate-y-[0.42rem]'; }
    .meat { @apply w-0; }
    &:hover { @apply transition-transform duration-300 hover:rotate-90 ease-in-out; }
  }
  &:not(.body-menu-opened):hover {
    .top-bun { @apply animate-burger-hover-2; }
    .meat { @apply animate-burger-hover-4; }
    .bottom-bun { @apply animate-burger-hover-6; }
  }
}
