@import './variables.less';

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @media only screen and (min-width: @media-lg) {
    font-size: 18px;
  }
}
body {
  @apply bg-base-100 text-base-content min-h-screen overflow-x-hidden leading-5;
}
h1,
h2,
h3,
h4,
h5 {
  @apply font-serif uppercase;
}
h1 {
  @apply text-6xl font-semibold;
  @media only screen and (min-width: @media-lg) {
    @apply text-7xl;
  }
}
h2 {
  @apply text-5xl font-semibold;
  @media only screen and (min-width: @media-lg) {
    @apply text-6xl;
  }
}
h3 {
  @apply text-4xl font-semibold;
  @media only screen and (min-width: @media-lg) {
    @apply text-5xl;
  }
}
h4 {
  @apply text-3xl font-semibold;
  @media only screen and (min-width: @media-lg) {
    @apply text-4xl;
  }
}
h5 {
  @apply text-2xl font-semibold;
  @media only screen and (min-width: @media-lg) {
    @apply text-3xl;
  }
}
h6 {
  @apply text-xl font-medium;
  @media only screen and (min-width: @media-lg) {
    @apply text-2xl;
  }
}

.toastify {
  &.success {
    background: oklab(var(--su));
    color: oklab(var(--suc));
  }
  &.error {
    background: oklab(var(--er));
    color: oklab(var(--erc));
  }
  &.info {
    background: oklab(var(--in));
    color: oklab(var(--inc));
  }
  &.warning {
    background: oklab(var(--wa));
    color: oklab(var(--wac));
  }
}
form .group {
  > label {
    @apply mb-2 block font-medium transition-all duration-500 ease-in-out;
  }
  > input,
  > textarea,
  > .choices > .choices__inner {
    @apply ~'p-2.5' mb-2 block w-full rounded-lg border transition-all duration-500 ease-in-out;
  }
  &.error {
    label {
      @apply text-error;
    }
    > input,
    > textarea,
    > .choices > .choices__inner {
      @apply !border-error !bg-error/10 text-error placeholder-error focus:ring-error;
    }
    p.error {
      @apply text-error text-sm;
    }
  }
  > .choices {
    @apply mb-2;
  }
}

.pretty {
  input:checked ~ .state,
  &.p-toggle .state {
    label:after {
      @apply !bg-warning;
    }
    label:before {
      @apply border-warning;
    }
  }
  &.p-default:not(.p-fill) input:checked ~ .state label:after {
    @apply !bg-warning;
  }
  &.p-switch {
    input:checked ~ .state:before {
      @apply border-warning;
    }
    &.p-fill input:checked ~ .state:before {
      @apply !bg-warning;
    }
    &.p-slim input:checked ~ .state:before {
      @apply border-warning !bg-warning;
    }
  }
  &.checkbox {
    @apply mb-2;
    .state {
      svg {
        @apply absolute left-0 opacity-0;
        z-index: 1;
        width: calc(1em + 2px);
        height: calc(1em + 2px);
        top: calc((0% - (100% - 1em)) - 8%);
      }
      label:after,
      label:before {
        @apply rounded;
      }
    }
    input:checked ~ .state svg {
      opacity: 1;
    }
  }
}

.choices {
  &__inner {
    @apply !border-base-200 !bg-base-100 !rounded-lg;
  }
  &__list--multiple .choices__item {
    @apply !border-primary !bg-primary;
  }
  &__input {
    @apply !bg-transparent;
  }
}
range-slider {
  @apply w-full;
}
.html-render {
  @apply text-justify;
  figure {
    @apply inline-block w-full py-5 text-center;
    figcaption {
      @apply border-primary-content bg-primary-content mt-1 inline-block border px-2 py-1;
    }
  }
  p {
    @apply mb-3;
  }
  img {
    @apply mx-auto;
  }
  h1 {
    @apply text-primary mb-7 mt-0;
  }
  h2 {
    @apply text-primary mb-6 mt-0;
  }
  h3 {
    @apply text-primary mb-5 mt-0;
  }
  h4 {
    @apply text-primary mb-4 mt-0;
  }
  h5 {
    @apply text-primary mb-4 mt-0;
  }
  h6 {
    @apply text-primary mb-4 mt-0;
  }
  table {
    @apply my-3 w-full;
    th,
    td {
      @apply ~'py-1.5' border-base-200 border px-2 text-left;
    }
  }
  blockquote {
    @apply relative m-0 mx-auto mb-7 table border-0 p-4 text-justify text-inherit;
    background:
      linear-gradient(to right, theme('textColor.primary') 2px, transparent 1px) 0 100%,
      linear-gradient(to left, theme('textColor.primary') 2px, transparent 1px) 100% 0,
      linear-gradient(to bottom, theme('textColor.primary') 2px, transparent 1px) 100% 0,
      linear-gradient(to top, theme('textColor.primary') 2px, transparent 1px) 0 100%;
    background-size: 20px 20px;
    background-repeat: no-repeat;

    &:before,
    &:after {
      @apply text-primary absolute text-3xl font-black;
      font-family:
        Line Awesome Free,
        serif;
    }

    &:before {
      @apply -top-3 right-full -mr-3;
      content: '"';
    }

    &:after {
      @apply -bottom-3 left-full top-auto -ml-3;
      content: '"';
    }
  }
}

.hamburger {
  @apply hidden h-7 w-9 flex-col justify-between self-center pb-1 pt-1;

  @media (max-width: @media-md) {
    @apply flex;
  }
  span {
    @apply ~'h-0.5' bg-base-content w-full self-end transition-all duration-300 ease-in-out;
  }
  .meat {
    @apply ~'w-10/12' transition-all duration-150 ease-in-out;
  }
  .bottom-bun {
    @apply ~'w-7/12';
  }
  &:hover span {
    @apply w-full;
  }
  &.active {
    .top-bun {
      @apply ~'translate-y-[0.6rem]' w-full -rotate-45;
    }
    .bottom-bun {
      @apply ~'-translate-y-[0.5rem]' w-full rotate-45;
    }
    .meat {
      @apply w-0;
    }
    &:hover {
      @apply transition-transform duration-300 ease-in-out hover:rotate-90;
    }
  }
  &:not(.active):hover {
    .top-bun {
      @apply animate-burger-hover-2;
    }
    .meat {
      @apply animate-burger-hover-4;
    }
    .bottom-bun {
      @apply animate-burger-hover-6;
    }
  }
}

.hamburger-arrow {
  @apply relative h-6 w-9;
  span {
    @apply ~'h-0.5' bg-base-100 absolute left-0 w-full rounded-sm transition-all duration-300 ease-in-out;
    &.top-bun {
      @apply top-0;
    }
    &.bottom-bun {
      @apply bottom-0;
    }
  }
  &.active span {
    &.top-bun {
      @apply ~'-translate-x-[0.13rem] -translate-y-[0.4rem]' top-6 w-4 rotate-45;
    }
    &.meat {
      @apply w-3/4 rotate-180;
    }
    &.bottom-bun {
      @apply ~'-translate-x-[0.13rem] translate-y-[0.55rem]' bottom-6 w-4 -rotate-45;
    }
  }
}

.mega-menu {
  @apply flex items-center gap-10;
  > li > a {
    @apply hover:text-primary font-bold;
  }
  &.col {
    @apply flex-col gap-2;

    > li {
      @apply w-full;

      > a:has(+ ul):after {
        @apply rotate-0;
      }
      > ul {
        @apply left-auto top-0 ml-80;
        &.mega {
          @apply left-auto;
        }
      }
      &:hover {
        > ul {
          @apply visible opacity-100;
          margin-left: 17rem;
        }
      }
    }
  }
  li {
    @apply relative;

    > a {
      @apply ~'py-1.5' border-base-300 flex items-center gap-3 border-b;
      &:has(+ ul) {
        @apply pr-5;
        &::after {
          @apply ~'size-3.5' bg-base-content absolute right-0 top-1/2 -translate-y-1/2 rotate-90 bg-cover;
          content: '';
          mask: url('/assets/images/arrow.svg') no-repeat 100% 100%;
          mask-size: cover;
        }
      }
    }
    > ul {
      width: 250px;
      @apply border-warning bg-base-100 invisible absolute left-auto top-0 rounded border-t-4 opacity-0 shadow transition-all duration-300 ease-in-out;

      &.mega {
        @apply left-10 grid grid-cols-5;
        width: calc(100vw - 30rem);

        > li {
          @apply p-2;

          > ul {
            @apply static m-0 w-full rounded-none border-none bg-transparent opacity-100;

            > li:not(:has(a)) {
              @apply text-base-content/50 py-3 font-bold;
            }
          }
        }
      }
      a {
        @apply text-base-content;
        &:has(+ ul) {
          @apply pr-0;
          &::after {
            @apply right-1 rotate-0;
          }
        }
      }
      ul {
        @apply absolute top-0 ml-2 mt-0;
        left: 101%;
      }
      > li {
        @apply pl-3;
      }
    }
    &:hover {
      > ul {
        @apply visible ml-0 mt-0 opacity-100;
        &.mega ul {
          @apply visible opacity-100;
        }
      }
    }
  }
}
form {
  > button[type='submit'] {
    @apply ~'p-2.5' bg-primary text-primary-content rounded-lg border;
  }
  .radio {
    @apply mb-2;
    &.pretty {
      .state label {
        &:after {
          @apply scale-50 rounded-full;
        }
        &:before {
          @apply rounded-full;
        }
      }
      input:checked ~ .state label:after {
        @apply bg-primary;
      }
    }
  }
}
.header {
  @apply absolute left-0 top-0 z-30 w-full;

  > div {
    @apply bg-primary container mx-auto flex items-center justify-between py-4 pl-5 pr-4;

    .menu {
      @apply hidden lg:block;
    }
    > div {
      @apply flex items-center;
    }
  }
}

body {
  @apply bg-base-100 text-base-content;
}
.pagination {
  @apply mx-auto mt-8 flex w-fit items-center gap-2 py-4;
  > a {
    @apply ~'size-[42px]' border-base-300 bg-base-100 flex items-center justify-center rounded-full border;

    > svg {
      @apply h-4 w-4;
    }

    &:first-child {
      @apply rotate-180;
    }
  }
  > .active {
    @apply bg-warning text-base-100;
  }
}
.tooltip {
  @apply bg-base-content text-base-100 absolute rounded px-2 py-1 text-sm opacity-0 transition-opacity duration-300 ease-in-out;

  &.show {
    @apply opacity-100;
  }
  .arrow {
    @apply bg-base-content absolute size-2;
  }
}

.dropdown {
  @apply bg-base-content text-base-100 absolute z-50 flex w-32 flex-col rounded px-2 py-1 text-sm opacity-0 transition-opacity duration-300 ease-in-out;

  &.show {
    @apply opacity-100;
  }
  .arrow {
    @apply bg-base-content absolute size-2;
  }
  > a {
    @apply px-2 py-1;
  }
}
.tab-content section {
  @apply transition-all duration-300 ease-in-out;

  &.inactive {
    @apply invisible h-0 overflow-hidden opacity-0;
  }
}
.modal {
  @apply bg-base-content/50 invisible fixed left-0 top-0 z-30 flex h-full w-full overflow-auto p-5 transition-all duration-300 ease-out;

  &.show {
    @apply visible;

    .content {
      animation: modal-fade-in 0.3s ease-out;
    }
  }
  &:not(.show) .content {
    animation: modal-fade-out 0.3s ease-out;
  }
  &.small .content {
    @apply top-1/2 -translate-y-1/2;
  }

  .content {
    @apply bg-base-100 relative left-1/2 h-fit w-full max-w-xl -translate-x-1/2 rounded-lg p-5 shadow-lg;
  }
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-fade-out {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    opacity: 0;
    margin-top: 20px;
  }
}
.-order-1 {
  order: -1;
}
